body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f6;
    color: #333;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

header {
    background: linear-gradient(to bottom, #6a5acd, #4b0082);
    color: #b91818;
    padding: 1.25em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(131, 116, 116, 0.1);
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 0.625em;
}

nav {
    background: linear-gradient(to bottom, #9370db, #663399);
    padding: 1.25em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h2 {
    margin-bottom: 0.625em;
    font-weight: bold;

}

nav p {
    margin-bottom: 0.9375em;
    font-style: italic;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25em;
}

main section, aside {
    flex: 1 1 calc(45% - 1.25em);
    background-color: #fff;
    border-radius: 10px;
    padding: 1.25em;
    margin-bottom: 1.25em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



main section h2, aside h2 {
    margin-bottom: 0.625em;
    color: #6a5acd;
    font-weight: bold;
}

main section ul, aside ul {
    list-style-type: none;
}


main section ul li, aside ul li {
    margin-bottom: 0.625em;
}



footer {
    background: linear-gradient(to bottom, #9370db, #663399);
    color: #fff;
    padding: 1.25em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 576px) {
    main section, aside {
        flex: 1 1 100%;
        margin-right: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    main section, aside {
        flex: 1 1 calc(50% - 1.25em);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main section, aside {
        flex: 1 1 calc(50% - 1.25em);
    }
}

main section:hover, aside:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
